.playerNames {
font-size: 2em;
margin: 0px;
}

.cardsDisplay {
    width: 70px;
    border: 1px solid black;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    border-radius: 5px;
  }

  div.pileCards {
    margin-bottom: 20px;
  }

.scoreBoard {
    border: 3px solid rgb(218, 221, 21);
    font-size: 2em;
    margin-right: 20px;
    margin-left: 20px;
}